@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@font-face {
  font-family: font;
  src: url(../css/font.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* all section */
.title{
  font-size: 1.87em;
  padding-bottom: 30px;
  color: #333;
  font-family: 'Oleo Script Swash Caps', cursive;
}

/* section header */
.header{
  background:#445161;
}
.wrap{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__title{
  font-size: 60px;
  color: #fff;
}
.header__img{
  background:#fff;
  width: 470px;
  height: 213px;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 323px;
}
.header__list{
  list-style: none;
  color: #fff;
}
.header__list-item{
  font-size: 20px;
  line-height: 36px;
}
/* end header */

/* section about */
.about__img{
  width: 430px;
  height: 246px;
  background:#445161;
}
.about__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 343px;
}
.about__box{
width: 650px;
}
.about__title{
  font-size: 25px;
}

.about__text{
  padding-bottom: 20px;
  color: #333;
}
/* end about */

/* section buy */
.buy__item{
  width: 302px;
  background:#445161;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 25px;
}
.buy__item-title{
  text-align: center;
  font-size: 24px;
  color:#fff;
  padding: 10px 0;
}
.buy__price{
  background: #fff;
  color:#445161;
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
  border: 2px solid #445161;
  font-family: font;
}
.buy__list{
  padding: 20px 10px 20px 40px;
}
.buy__list-item{
  font-size: 14px;
  line-height: 24px;
  color:#fff;
}
.buy__btn{
  display: block;
  width: 90%;
  padding: 15px 0;
  font-size: 18px;
  color:#445161;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  margin: 20px auto;
}
.buy__btn:hover{
  cursor: pointer;
  color: #fff;
  background: #445161;
  border: 1px solid #fff;
}
.buy__title{
  text-align: center;
}
.buy__main{
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

/* end buy */

.fa-facebook-f{
  font-size: 50px;
  color: red;
}

.circle{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}